@import "@/theme/tokens.scss";

$uni-color-primary: $global-color-palette-brand-500;
$uni-text-color: $theme-light-color-text-primary;
$uni-text-color-grey: $theme-light-color-text-secondary;
$uni-bg-color: $theme-light-color-surface-card;
$uni-bg-color-grey: $theme-light-color-surface-page;
$uni-border-radius-lg: $global-radius-card;
